################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/work/FileContentIndex/903cffe2-b516-4e34-8983-8687284e4aad.vsidx
/.vs/work/v17/DocumentLayout.backup.json
*.bin
/Ranalo/.vs/Ranalo/FileContentIndex/09a0fe8e-88c1-4b47-9211-4395fd70bf29.vsidx
/Ranalo/.vs/Ranalo/FileContentIndex/cf04ae45-d636-4a23-a037-23f7a76288ec.vsidx
/Ranalo/Ranalo/obj/Debug/net8.0/Ranalo.AssemblyInfo.cs
/Ranalo/Ranalo/obj/Debug/net8.0/Ranalo.AssemblyInfoInputs.cache
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/Ranalo.Woocommece.Api.AssemblyInfo.cs
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/Ranalo.Woocommece.Api.AssemblyInfoInputs.cache
/Ranalo/Ranolo.Web.Tests/Ranolo.Web.Tests.csproj
/Ranalo/.vs/ProjectEvaluation/ranalo.metadata.v9.bin
/Ranalo/.vs/ProjectEvaluation/ranalo.projects.v9.bin
/Ranalo/.vs/ProjectEvaluation/ranalo.strings.v9.bin
/Ranalo/.vs/Ranalo/DesignTimeBuild/.dtbcache.v2
*.vsidx
/Ranalo/.vs/Ranalo/v17/TestStore/0/000.testlog
/Ranalo/.vs/Ranalo/v17/TestStore/0/testlog.manifest
/Ranalo/.vs/Ranalo/v17/HierarchyCache.v1.txt
/Ranalo/.vs/Ranalo/v17/fileList.bin
/Ranalo/.vs/Ranalo/v17/.futdcache.v2
/Ranalo/.vs/Ranalo/v17/.suo
/Ranalo/.vs/Ranalo/v17/DocumentLayout.backup.json
/Ranalo/.vs/Ranalo/v17/DocumentLayout.json
/Ranalo/Ranalo.Woocommece.Api/bin/Debug/net8.0/Ranalo.Woocommece.Api.dll
/Ranalo/Ranalo.Woocommece.Api/bin/
/Ranalo/Ranalo.Woocommece.Api/bin/Debug/net8.0/Ranalo.Woocommece.Api.exe
/Ranalo/Ranolo.Web.Tests/bin
/Ranalo/Ranolo.Web.Tests/obj
/Ranalo/Ranalo.Woocommece.Api/bin/Debug/net8.0/Ranalo.Woocommece.Api.pdb
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/ref/Ranalo.Woocommece.Api.dll
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/refint/Ranalo.Woocommece.Api.dll
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/apphost.exe
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/Ranalo.Woocommece.Api.csproj.CoreCompileInputs.cache
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/Ranalo.Woocommece.Api.csproj.FileListAbsolute.txt
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/Ranalo.Woocommece.Api.dll
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/Ranalo.Woocommece.Api.pdb
/Ranalo/Ranalo.Woocommece.Api/obj/Debug/net8.0/Ranalo.Woocommece.Api.sourcelink.json
/Ranalo/Ranalo.Woocommece.Api/obj/project.assets.json
/Ranalo/Ranalo.Woocommece.Api/obj/project.nuget.cache
/Ranalo/Ranalo.Woocommece.Api/obj/Ranalo.Woocommece.Api.csproj.nuget.dgspec.json
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/apphost.exe
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.W.01529AAD.Up2Date
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.AssemblyInfo.cs
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.AssemblyInfoInputs.cache
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.csproj.CoreCompileInputs.cache
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.csproj.FileListAbsolute.txt
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.dll
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.genruntimeconfig.cache
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.MvcApplicationPartsAssemblyInfo.cache
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.MvcApplicationPartsAssemblyInfo.cs
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.pdb
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/Ranalo.Woocommece.Api.sourcelink.json
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/ref/Ranalo.Woocommece.Api.dll
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/refint/Ranalo.Woocommece.Api.dll
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/staticwebassets/msbuild.build.Ranalo.Woocommece.Api.props
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/staticwebassets/msbuild.buildMultiTargeting.Ranalo.Woocommece.Api.props
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/staticwebassets/msbuild.buildTransitive.Ranalo.Woocommece.Api.props
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/staticwebassets.build.endpoints.json
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/staticwebassets.build.json
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/staticwebassets.publish.endpoints.json
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/staticwebassets.publish.json
/Ranalo/Ranalo.Woocommece.Api/obj/Release/net8.0/staticwebassets.references.upToDateCheck.txt
/Ranalo/Ranalo/bin/Debug/net8.0/Microsoft.OpenApi.dll
/Ranalo/Ranalo/bin/Debug/net8.0/Newtonsoft.Json.dll
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.deps.json
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.dll
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.exe
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.pdb
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.staticwebassets.endpoints.json
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.Woocommece.Api.deps.json
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.Woocommece.Api.dll
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.Woocommece.Api.exe
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.Woocommece.Api.pdb
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.Woocommece.Api.runtimeconfig.json
/Ranalo/Ranalo/bin/Debug/net8.0/Ranalo.Woocommece.Api.staticwebassets.endpoints.json
/Ranalo/Ranalo/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Ranalo/Ranalo/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Ranalo/Ranalo/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Ranalo/Ranalo/bin/Release/net8.0/Microsoft.OpenApi.dll
/Ranalo/Ranalo/bin/Release/net8.0/Newtonsoft.Json.dll
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.deps.json
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.dll
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.exe
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.pdb
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.Woocommece.Api.deps.json
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.Woocommece.Api.dll
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.Woocommece.Api.exe
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.Woocommece.Api.pdb
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.Woocommece.Api.runtimeconfig.json
/Ranalo/Ranalo/bin/Release/net8.0/Ranalo.Woocommece.Api.staticwebassets.endpoints.json
/Ranalo/Ranalo/bin/Release/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Ranalo/Ranalo/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Ranalo/Ranalo/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
